*.vscode/

sections/contact_info_col.tex
sections/contact_info_nz.tex
simple_nz_cv/

## Core latex/pdflatex auxiliary files (https://github.com/github/gitignore/blob/master/TeX.gitignore)
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.synctex.gz
*.fdb_latexmk
*.fls

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

backup/

