# This is a basic workflow to help you get started with Actions

name: Build LaTeX document

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build_latex:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # speedup the build keeping temp files
      - name: Cache
        uses: actions/cache@v4
        with:
          # A list of files, directories, and wildcard patterns to cache and restore
          path: |
            *.aux
            *.lof
            *.lot
            *.fls
            *.out
            *.toc
            *.fmt
            *.fot
            *.cb
            *.cb2
            .*.lb
            *.bbl
            *.bcf
            *.blg
            *-blx.aux
            *-blx.bib
            *.run.xml
          key: ${{ runner.os }}-${{ steps.get-date.outputs.date }}
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: pdflatex main
        uses: dante-ev/latex-action@latest
        with:
          working_directory:
          root_file: Edison_Florez_CV.tex
          compiler: pdflatex
          args: -interaction=nonstopmode -shell-escape
      # - name: bibtex main
      #   uses: dante-ev/latex-action@latest
      #   with:
      #     working_directory:
      #     root_file: main.aux
      #     compiler: bibtex
      #     args:
      # - name: pdflatex main
      #   uses: dante-ev/latex-action@latest
      #   with:
      #     working_directory:
      #     root_file: Edison_Florez_CV.tex
      #     compiler: pdflatex
      #     args: -interaction=nonstopmode -shell-escape
